@import './miss-book/style.css';
@import './mister-email/cmps/email-preview.css';
@import './mister-email/cmps/email-compose.css';
@import './mister-email/cmps/user-msg.css';
@import './mister-email/cmps/email-app-header.css';
@import './mister-email/pages/email-app.css';
@import './mister-email/cmps/email-status.css';
@import './mister-email/cmps/email-short-details.cmp.css';
@import './mister-email/pages/email-list.css';
@import './mister-email/cmps/email-filter.css';
@import './mister-email/cmps/long-text.css';
@import './miss-keep/miss-keep.css';
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

* {
    box-sizing: border-box;
}

img, iframe {
    width: 100%;
}

p, h4 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

html {
    font-family: Montserrat;
}

body {
    background-image: url('../img/Hero.png');
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

nav {
    max-width: 540px;
    display: inline-flex;
    align-items: center;
}

.main-nav-a {
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 6px 15px 6px 15px;
}

.main-nav-a.router-link-active {
    background-color: #00b0ff;
    color: white;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -1.03px;
}

.main-footer {
    height: 200px;
    background-color: #000000;
}

@media screen and (max-width: 960px) {
    .container {
        max-width: 740px;
    }
}

/* helper */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}