.keep-app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-note {
    margin-bottom: 20px;
    border: 1px solid black;
}

.add-note button {
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    opacity: 0.3;
}

.add-note button:focus {
    outline: none;
}

.add-note button.select {
    opacity: 1;
}

.add-btn {
    opacity: 1;
    display: block;
}

.add-note img {
    height: 80%;
}

.add-note input {
    height: 40px;
    border-radius: 0;
}

/* notes-preview */

.notes-preview {
    display: grid;
    /* flex-wrap: wrap; */
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: auto auto auto;
    gap: 20px; 
}

.img-note {
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 20px;
    max-width: fit-content;
}

.video-note {
    border: 1px solid black;
    padding: 5px;
    padding-bottom: 20px;
    max-width: fit-content;
}

.text-note {
    min-height: 50px;
    border: 1px solid black;
    padding: 10px;
    max-height: fit-content;
}