.emails-short-details-container{
    background-color: #90bbc559;
    padding: 12px;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #53474766;

}

.emails-short-details-container button{
    background-color: none;
    border-radius: 20px;
    border-style: none;
}

.btn-short-details{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 7px;
    height:0;
}

.btn-short-details img{
    width: 17px;
    height: 16px;
}

.btn-short-details button{
    background-color:#b5bbb900;
    margin-left:5px;
}

.short-subject{
    padding: 0;
    margin: 0 0 5px;
    font-size: 20px;
}