
.mail-container{
    padding-left:12px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 20px;
    /* box-shadow: 0px 1px 0px #0000008a; */
    box-shadow: 1px 2px 0px #00000036;
}

.unread-mail{
    font-weight: bold;
}


.subject{
    font-size: 15px;
    margin-bottom: 0;
}

.body{
    font-size: 13px;
    margin-top:5px;
}

/* .showing{
    background-color: #d1e3dd73;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 2px #a5a2a2;
} */