.email-compose-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.email-compose-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f8ff9c;
    margin-right: 10%;
    margin-left: 10%;
}


.new-msg{
    background-color: black;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5px;
}