


.email-app-header-container{
    padding-right: 10%;
    padding-left: 13px;
}


.email-app-header-container nav {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    text-align: center;
    
}


.email-app-header-container nav a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}