


.email-app-header-container{
    padding-right: 7%;
    padding-left: 13px;
    /* background-color: #fdffff2b; */
}


.email-app-header-container nav {
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    text-align: center;
    
}


.email-app-header-container nav a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}


.unread-mails-counter{
    font-size: 14px;
}

.compose{
    position: absolute;
    top:108px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    left:5px;
}

.compose a{
    text-decoration: none;
    color: #414195;
    text-decoration: none;
    font-weight: bold;
}

.inbox-link:focus , .inbox-link:active{
    color: #3d00ac;
}
.draft-link:focus , .draft-link:active{
    color: #3d00ac;
}
.starred-link:focus , .starred-link:active{
    color: #3d00ac;
}


.links-small-header{
    display: flex;
    flex-direction: column;
    background-color: #b396f487;
    position: absolute;
    width: 50%;
    top: 153px;
    z-index: 1;
    height: 170px;
    justify-content: space-around;
    left: 77px;
    box-shadow:inset 1px 1px 18px #506eba;
}

.cover-links{
    position: fixed;
    top: 0;
    width: 100%;
    background: none;
    height: 100vh;
    z-index: 1;
}




.menu-btn{
        position: absolute;
        top: 105px;
        left: 47%;
        font-size: 30px;
        font-weight: bold;
        z-index: 1;
        color: #270241;
}


.links-small-header a{
    color: #011c32;

}