.long-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.starred{
    background-color: #ffffff00;
    border-color: none;
    
}

.long-text-btn-container button{
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #aeaeb1e0;
    outline: none;
}