.long-text-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.long-text-btn-container{
    display: flex;
    flex-direction: row;
}

.long-text-btn-container button{
    border-style: none;
    background: none;
    color: #000000c4;
    outline: none;
}
.btn-starred{
    font-size:20px;

}

.btn-read{
    font-size: 15px;
    padding-bottom: 2px;

}